.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 2px solid brown;
    border-radius: 12px;
    outline: none;
}
button{
    font-size: 36px;
    background: #eec9bc;
    width: 101px;
    height: 51px;
    border-radius: 21px;
    outline: none;
}
.calculator{
    display: inline-block;
    border: red;
    background-color: #795548;
    padding: 22px;
    border-radius: 52px;
}